label {
  font-size: 14px;
  // color: $grayMedium;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  border: solid 1px $grayLight;
  border-radius: 2px;

  &:focus { border-color: $brand; }
}

input[type=radio] {
  width: inherit;
}

.submit, .wpcf7-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
  color: white;
  background-color: $brand;
  border: 0;
  border-radius: 2px;

  &:hover { background-color: darken($brand, 10) }
}

.wpcf7-list-item {
  display: block;
}

span.wpcf7-not-valid-tip {
  margin-top: -16px;
  color: $brand;
}

div.wpcf7-validation-errors {
  padding: 16px;
  font-size: 24px;
  border: none;
}