@font-face {
  font-family: 'Tiempos Headline';
  src: url('TiemposHeadline-Bold.woff') format('woff'),
    url('TiemposHeadline-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('TiemposHeadline-Black.woff') format('woff'),
    url('TiemposHeadline-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('TiemposHeadline-Light.woff') format('woff'),
    url('TiemposHeadline-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('ApercuPro-BoldItalic.woff') format('woff'),
    url('ApercuPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('TiemposHeadline-Semibold.woff') format('woff'),
    url('TiemposHeadline-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline Semibold';
  src: url('TiemposHeadline-SemiboldItalic.woff') format('woff'),
    url('TiemposHeadline-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('ApercuPro-Medium.woff') format('woff'),
    url('ApercuPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('ApercuPro-Bold.woff') format('woff'),
    url('ApercuPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline Black';
  src: url('TiemposHeadline-BlackItalic.woff') format('woff'),
    url('TiemposHeadline-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('ApercuPro-Mono.woff') format('woff'),
    url('ApercuPro-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline Medium';
  src: url('TiemposHeadline-MediumItalic.woff') format('woff'),
    url('TiemposHeadline-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('TiemposHeadline-Regular.woff') format('woff'),
    url('TiemposHeadline-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('ApercuPro-MediumItalic.woff') format('woff'),
    url('ApercuPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Headline Bold';
  src: url('TiemposHeadline-BoldItalic.woff') format('woff'),
    url('TiemposHeadline-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('ApercuPro.woff') format('woff'),
    url('ApercuPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline Light';
  src: url('TiemposHeadline-LightItalic.woff') format('woff'),
    url('TiemposHeadline-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('TiemposHeadline-Medium.woff') format('woff'),
    url('TiemposHeadline-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline Regular';
  src: url('TiemposHeadline-RegularItalic.woff') format('woff'),
    url('TiemposHeadline-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('ApercuPro-Italic.woff') format('woff'),
    url('ApercuPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}