body {
  font-family: 'Apercu Pro';
  color: $grayDark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $brand;
  text-decoration: none;
  transition: color 150ms;

  img { display: block; }

  &:hover { color: darken($brand, 10) }
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.screen-reader-text {
  display: none;
}

.outer-container {
  max-width: 1280px;
  margin: auto;
}

.container {
  max-width: 1008px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: 640px) {
    display: flex;
    justify-content: space-between;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Tiempos Headline';
  color: $grayDark;
}

h1 {
  // font-size: 48px;
  margin-bottom: 16px;
}

h2 {
  margin-bottom: 8px;
  // font-size: 32px;
  // font-weight: bolder;
  // letter-spacing: -0.4px;
}

h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

h4 {
  margin-bottom: 16px;
  // font-family: 'Tiempos Headline';
  font-size: 19px;
  font-weight: 900;
}

p {
  font-size: 18px;
  line-height: 29px;
}

.banner, .nav {
  display: flex;
  @media screen and (max-width: 640px) {
    display: block;
  }
}

.banner {
  margin-bottom: 40px;
}

.banner-background {
  position: absolute;
  z-index: -1;
}

.brand {
  display: flex;
  max-width: 120px;
}

.search-icon {
  padding: 16px;
  cursor: pointer;
}

.nav-primary {
  position: relative;
  top: 0;
  height: auto;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 24px;

  @media screen and (max-width: 640px) {
    opacity: 0;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100vh;
    background-color: $brand;
    left: 0;
    right: 0;
  }
}

.mobile-nav-touchable {
  cursor: pointer;
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 48px;
  height: 48px;
  background-color: $brand;
  transition: transform 300ms cubic-bezier(0.22, 0.61, 0.36, 1);

  @media screen and (min-width: 640px) {
    display: none;
  }
}

@keyframes spring {
  0.00% {transform: translate3d(0, 56.00px, 0) scale(0.43999999999999995);}
  26.93% {transform: translate3d(0, -3.09px, 0) scale(1.0309);}
  63.47% {transform: translate3d(0, 0.10px, 0) scale(0.999);}
  100.00% {transform: translate3d(0, -0.00px, 0) scale(1);}
}

.spring {
  opacity: 1;
  animation: spring;
  animation-duration: 0.92s;
  animation-timing-function: cubic-bezier(0.445,  0.050, 0.550, 0.950);
}

.mobile-nav-touchable div {
  width: 24px;
  height: 3px;
  margin: 3px auto;
  background-color: white;
  transition: transform 150ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu-item {
  padding-top: 16px;
  padding-bottom: 16px;
  transition: opacity 200ms;
  
  &:nth-child(1) { transition-delay: 80ms }
  &:nth-child(2) { transition-delay: 120ms }
  &:nth-child(3) { transition-delay: 160ms }
  &:nth-child(4) { transition-delay: 180ms }
  &:nth-child(5) { transition-delay: 200ms }
  &:nth-child(6) { transition-delay: 213ms }
  
  @media screen and (max-width: 640px) {
    opacity: 0;
  }
}

.nav-visible .menu-item {
  &:nth-child(1) { animation-delay: 80ms }
  &:nth-child(2) { animation-delay: 120ms }
  &:nth-child(3) { animation-delay: 160ms }
  &:nth-child(4) { animation-delay: 180ms }
  &:nth-child(5) { animation-delay: 200ms }
  &:nth-child(6) { animation-delay: 213ms }
}

.menu-item a {
  padding: 16px;
  font-family: 'Tiempos Headline';
  font-size: 15px;
  font-weight: 600;
  color: $grayDark;

  &:hover { color: $brand; }

  @media screen and (max-width: 640px) {
    font-size: 32px;
    font-weight: 900;
    color: white;
  }
}

.current-menu-item a {
  color: $brand;

  @media screen and (max-width: 640px) {
    font-style: italic;
    color: white;
  }
}

.sidebar {
  max-width: 240px;
  padding-left: 16px;

  @media screen and (max-width: 640px) {
    margin: auto;
    padding: 0;
  }
}

.main {
  margin-bottom: 120px;
}

.page-title {
  margin-bottom: 24px;
}

.entry-title {
  margin-bottom: 4px;
  font-family: 'Tiempos Headline';
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -0.4px;
}

.entry-title a {
  color: $grayDark;
}

article {
  max-width: 704px;
  margin-bottom: 120px;
}

.post-meta {
  margin-bottom: 32px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.post p {
  max-width: 608px;
  margin-bottom: 24px;
}

.post img {
  display: block;
  margin-bottom: 32px;
  cursor: zoom-in;
}

.entry-content {
  margin-bottom: 24px;
}

.sidebar-divider {
  margin-top: 32px;
  margin-bottom: 32px;
}

.profile-image-border {
  position: absolute;
  z-index: -1;
  top: 8px;
  left: -16px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: solid 3px $brand;
}

.bio-title {
  margin-top: 22px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.bio-copy {
  margin-left: -6px;
  margin-right: -6px;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  line-height: 14px;
  text-transform: uppercase;
}

.social-icon {
  margin-top: 16px;
  margin-left: 12px;
  margin-right: 12px;
}

#instafeed {
.post-actions {
  display: flex;
  padding: 16px;
}

.local-actions {
  display: flex;
  flex: 1;
  align-items: center;
}

.like-container {
    align-items: flex-end;
}

.comment-container {
    align-items: flex-end;
}

.share-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.share-text {
  margin-right: 16px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: $gray;
}

.social-icon {
  margin: 8px;
}

.facebook-share {
  cursor: pointer;
}

.instafeed-title {
  text-align: left;
.dot-irecommendthis {
  position: relative;
  display: block;
  padding: 0 24px;
  top: -18px;
  max-width: 24px;
}

.comment {
  width: 21px;
  height: 21px;
  padding-left: 27px;
  background-size: 21px 21px;
  display: block;
  background-image: url('../images/comment.svg');
  background-repeat: no-repeat;
}

.active .dot-irecommendthis-count {
  color: $brand;
}

.heart-container {
  position: relative;
  cursor: pointer;
}

.heart {
  transition: fill 150ms;
}

.dot-irecommendthis-count {
  font-size: 12px;
  font-weight: 700;
  color: $brand;
}

.comment-count {
  font-size: 12px;
  font-weight: 700;
  color: $brand;
}

.emoji-container {
  position: absolute;
  left: -32px;
  transform: scale(0) translateY(40px);
  transition: transform 200ms ease;
}

.animate-emoji-container {
  transform: scale(1) translateY(-4px);
}

.kissy-emoji {
  position: absolute;
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hide-emoji {
  opacity: 0;
  transform: translateY(24px);
}

.emoji-heart-fill {
  fill: #E75A70;
  position: absolute;
  transform: scale(.315) translate(22px,22px) rotate(25deg);
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.blow-kiss {
  transform: scale(1) translate(32px, 4px) rotate(0deg);
}